<div class="row" style="overflow-x: hidden !important;">

    <div class="col-12">        
        <mat-drawer-container [hasBackdrop]="false">
            <mat-drawer #drawer [mode]="'side'">
                <div class="menu-header">
                    <h1 style="color: #fff">Área do assistente</h1>
                </div>
                <hr style="background-color: #fff">
                <div class="menu-body">
                    <button class="col-12" color="primary" mat-flat-button (click)="goTo('/agendamentos')">Buscar agendamentos</button>
                </div>
                <div class="menu-body">
                    <button class="col-12" color="primary" mat-flat-button>Buscar cliente</button>
                </div>
                <div class="menu-body">
                    <button class="col-12" color="primary" mat-flat-button>Cadastrar agendamento</button>
                </div>
                <div class="menu-body">
                    <button class="col-12" color="primary" mat-flat-button>Cadastrar cliente</button>
                </div>
            </mat-drawer>
            <mat-drawer-content>
                <mat-toolbar color="primary">
                    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" >
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span>Petshop</span>
                    <span class="example-spacer"></span>
                    <div align="right">
                        <button matTooltip="Deslogar da conta" mat-icon-button>
                            <mat-icon>logout</mat-icon>
                        </button>
                    </div>
                </mat-toolbar>

                <div ngif>

                </div>
            </mat-drawer-content>
          </mat-drawer-container>
    </div>

</div>