<!-- <div class="col-md-12">

    <form class="container" [formGroup]="form">

        <div class="input-pesquisa">
            <mat-form-field class="col-md-4">
                <mat-label>Digite o número do agendamento</mat-label>
                <input matInput formControlName="id_atendimento">
            </mat-form-field>
            <button mat-icon-button (click)="getAtendimentoById()">
                <mat-icon>search</mat-icon>
            </button>
        </div>

        <div class="agendamentos" *ngFor="let atendimento of atendimentos">
            <mat-card>
                <div class="mat-card-body">
                    <div align="right">
                        <mat-label>Código do atendimento:</mat-label>
                        {{ atendimento.id_atendimento }}
                    </div>
                    <div class="row" style="padding: 5px;">
                        <div class="col-12">
                            <mat-label>Cliente:</mat-label>
                            {{ atendimento.nome_cliente }}
                        </div>
                        <div class="col-7">
                            <mat-label>Tipo do serviço:</mat-label>
                            {{ atendimento.tipo_servico }}
                        </div>
                        <div class="col-4" align="right">
                            <mat-label class="more-details" (click)="goToDetalhes(atendimento.id_atendimento)">ver detalhes</mat-label>
                        </div>
                        <div class="col-12">
                            <mat-label>Data agendada:</mat-label>
                            {{ atendimento.data_atendimento }} às {{ atendimento.horario_atendimento }}
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

    </form>

</div> -->

<form class="container" [formGroup]='form'>
    <div class="input-pesquisa">
        <mat-form-field class="col-md-4">
            <mat-label>Digite o número do agendamento</mat-label>
            <input matInput formControlName="id_atendimento">
        </mat-form-field>
        <button mat-icon-button (click)="getAtendimentoById()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</form>

<div class="mat-elevation-z8 container col-9">
    <table class="col-12" matSort mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="id_atendimento">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Nro. atendimento </th>
        <td mat-cell *matCellDef="let element"> {{element.id_atendimento}} </td>
      </ng-container>
  
      <ng-container matColumnDef="nome_cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.nome_cliente}} </td>
      </ng-container>
  
      <ng-container matColumnDef="tipo_servico">
        <th mat-header-cell *matHeaderCellDef> Tipo do serviço </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo_servico}} </td>
      </ng-container>
  
      <ng-container matColumnDef="data_atendimento">
        <th mat-header-cell *matHeaderCellDef> Data agendada </th>
        <td mat-cell *matCellDef="let element"  > {{element.data_atendimento | data}} </td>
      </ng-container>

      <ng-container matColumnDef="horario_atendimento">
        <th mat-header-cell *matHeaderCellDef> Horário agendado </th>
        <td mat-cell *matCellDef="let element"  > {{element.horario_atendimento.replace(':00','')}} </td>
      </ng-container>

      <ng-container matColumnDef="detalhes">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"><mat-label class="more-details" (click)="goToDetalhes(element.id_atendimento)">ver detalhes</mat-label>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  